# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# vsCode config
.vscode/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# typescript code
src/

# typescript code
test/
